<h1>Hi, Aiden!</h1>
<%= link_to 'Home', purchases_path %> | 
<%= link_to 'New', new_purchase_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
      <th></th>
      
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= link_to purchase.name, purchase_path(purchase) %></td>
        <td>$<%= purchase.price %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase)%></td>
        <td><%= link_to 'Delete', purchase_path(purchase), method: 'delete' %></td>
      </tr>
    <% end %>
      
  </tbody>
