<h2><%= @purchase.name %></h2>
<p>This was bought on <%= @purchase.created_at %> for $<%= @purchase.price %>.


<p>
<%= link_to 'Back', purchases_path %> |
<%= link_to 'Edit', edit_purchase_path(@purchase) %> | 
<%= link_to 'Delete', purchase_path(@purchase), method: 'delete' %>
</p>